<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGMT-tech</title>
    <!-- link to css -->
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- header -->
    <header>
        <div class="nav container">
            <!-- logo -->
            <a href="#" class="logo">Ve <span>nom1</span></a>
        </div>
    </header>
    <section id="home2" class="section home2">
        <img src="download.jpg" alt="" class="home2-img">
        <div class="home2-text">
          ALL NEW Mercedes-AMG GT WITH BIGGER 
          ENGINE AND MORE performance
        </div>
    </section>
<section id="para" class="para">
    <div class="explaination">
        <div class="post-infos">
            <span class="post-number">#1</span>
            <span class="post-date">September 28, 2024</span>
        </div>
    <div class="explaination">The **Mercedes-AMG GT** is a high-performance sports car 
        designed by Mercedes-Benz's AMG division, embodying a blend of luxury, speed, 
        and precision engineering. First launched in 2014, the AMG GT features an aggressive 
        yet elegant design, with its long hood, sweeping curves, and low stance reflecting 
        its racing heritage. It is powered by a handcrafted AMG V8 biturbo engine, which 
        delivers an exhilarating driving experience with impressive horsepower and torque.
        <div class="mid">
        <img src="download.jpg" alt="" class="mid-img">
        <div class="mid-text"> <i>pic of the Mercedes-AMG </i></div>
        </div>
        Available in various versions like the GT, GT S, GT C, and the extreme GT R, each 
        offers a distinct level of performance and handling, making it suitable for both 
        track and road use. The interior is luxurious yet driver-focused, featuring high-end 
        materials, advanced technology, and ergonomically designed controls. Combining 
        cutting-edge engineering with stunning aesthetics, the AMG GT is a symbol of 
        Mercedes-Benz’s commitment to high-performance, precision driving.</div>
</section>
<div class="footer container">
    <div class="post-title">&nbsp;&nbsp;   by KGMT-tech</div>
    <div class="social">
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-facebook'></i></a>
        </div>
</div>
<!--   Jquery -->
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<!-- link to js -->

<script src="main.js"></script>

</body>
</html>